{% extends 'base.html' %}
{% load static %}
{% block content%}


<div class="register-body">
    <div class="login-body-upper">
        <form method="POST" action="{% url 'register'%}">
            {% csrf_token %}
            <div class="login-body-element">
                <input type="email" placeholder="Email Address" name="email" required>
            </div>
            <div class="login-body-element">
                <input type="text" placeholder="Name" name="name" required>
                                
            </div>
            <div class="login-body-element">
                <input type="text" placeholder="Username" name="username" required>
            </div>
            <div class="login-body-element">
                <input type="password" placeholder="Password" name="password" required>
            </div>
            <div class="login-body-element">
                <input type="submit" value="Sign Up" class="register-button">
            </div>
                         
        </form>
    </div>
</div>

<div class="register-footer">
    <div class="register-footer-text">
        Have An Account?
    </div>
    <div class="register-body-lower">
        <a href="{% url 'login'%}">Log in</a>
    </div>
</div>
    

{% endblock %}