{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html'%}


<div class="chat-body clearfix">
    <div class="chat-user-list-body">
        <input type="search" placeholder="Search" name="search-chat-user" class="search-chat-user" onkeyup="searchUserChat()">
        <button><i class="fa fa-search"></i></button>
        <div class="chat-search-user-list">
            
        </div>
        <div class="chat-user-list">
            {% for user in last_chat_user%}
                <a href="{% url 'chat-to-partner' user.partner_id %}">
                    <div class="chat-user-list-element">
                        {{user.partner_name}}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="chat-user-message-body">
        <div class="chat-user-message">
        
        </div>
        <div class="chat-user-text-box">
            
        </div>
    </div>
</div>

{% endblock %}
