{% extends 'base.html' %}
{% load static %}


{%block title%}
    {{ post_id }}
{%endblock%}


{% block content %}
{% include 'navbar.html' %}

    <div class="post-container-in-post">
        <div class="media-in-post" >

            {% for photo in photos %}
                {% if forloop.counter == 1 %}
                    <img src="{{ photo }}" class="post-photo-in-post" style="display: block !important;" ondblclick="likes('{{user_id}}', '{{post_id}}', document.getElementsByClassName('like-for-post')[0])" />
                {% else %}
                    <img src="{{ photo }}" class="post-photo-in-post" ondblclick="likes('{{user_id}}', '{{post_id}}', document.getElementsByClassName('like-for-post')[0])" />
                {% endif %}
            {% endfor %}

            {% for video in videos %}
                {% if photos|length == 0 and forloop.counter == 1 %}
                    <video class="post-video-in-post" style="display: block !important;" controls></video>
                {% else %}
                    <video class="post-video-in-post" controls></video>
                {% endif %}
            {% endfor %}

            <a class="button-in-post prev" onclick="slideMedia(this, {{ photos }}, {{ videos }}, -1)">&#10094;</a>
            {% if mediaCount|length > 1 %}
            <a class="button-in-post next" onclick="slideMedia(this, {{ photos }}, {{ videos }}, 1)">&#10095;</a>
            {% endif %}

            <div class="dot-container-on-media">
                {% for i in mediaCount %}

                    {% if forloop.counter == 1  %}
                        <span class="dot-on-media" style="background-color:deepskyblue;"></span>
                    {% else %}
                        <span class="dot-on-media" style="background-color:#bbb"></span>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

        <div class="right-side-of-post">
            <div class="top-bar-of-post-right">
                <a href="{% url 'profile' poster_id %}"><img src="{{ poster_photo }}" alt="identity" class="profile-photo-in-topbar"></a>
                <h3><a href="{% url 'profile' poster_id %}">{{ poster_name }}</a></h3>

                {% if user_id != poster_id %}
                    {% if isFollowee %}
                        <button class="follow_button_in_post_view" onclick="follow(this, '{{ user_id }}', '{{ poster_id }}')">Unfollow</button>
                    {% elif isFollower %}
                        <button class="follow_button_in_post_view" onclick="follow(this, '{{ user_id }}', '{{ poster_id }}')">Follow Back</button>
                    {% else %}
                        <button class="follow_button_in_post_view" onclick="follow(this, '{{ user_id }}', '{{ poster_id }}')">Follow</button>
                    {% endif %}
                {% endif %}

            </div>

            <hr class="top" />

            <div class="middle-of-post-right">

                <div class="caption-of-post">
                    <a href="{% url 'profile' poster_id %}"><img src="{{ poster_photo }}" alt="identity" class="profile-photo-in-topbar"></a>
                    <h3><a href="{% url 'profile' poster_id %}">{{ poster_name }}</a></h3>

                    <span>
                        {{ caption }}

                        <div>
                            <p class="age-text inside-comment-reply">{{ age }}</p>
                        </div>
                    </span>
                </div>

                <hr class="caption-comment" />

                <div class="comment-container">

                    {% for comment in comments %}

                        <div class="comment-of-post">
                            <div class="comment-portion">
                                <a href="{% url 'profile' comment.commenter_id %}"><img src="{{ comment.commenter_photo }}" alt="identity" class="profile-photo-in-topbar"></a>
                                <h3><a href="{% url 'profile' comment.commenter_id %}">{{ comment.commenter_username }}</a></h3>

                                <span class="comment-text">
                                    {{ comment.comment_text }}
                                    <br />
                                    <div>
                                        <p class="age-text inside-comment-reply">{{ comment.comment_age }}</p>
                                        <button class="age-text inside-comment-reply" onclick="like_list('{{ user_id }}','{{ comment.comment_id }}', this, 'CMNT')" >
                                            {{ comment.comment_like_count }} likes
                                        </button>
                                        <a href="#" class="age-text inside-comment-reply reply-button" onclick="commentButtonClick(document.getElementsByClassName('add-comment-in-post')[0], '{{ comment.commenter_username }}' , {{ comment.comment_id }})">Reply</a>

                                    </div>
                                </span>

                                {% csrf_token %}
                                <ul class="icons clearfix">
                                    {% if comment.comment_is_like %}
                                        <li><i class="fa fa-heart like-for-comment" aria-hidden="true" onclick="likes('{{ user_id }}','{{ comment.comment_id }}', this, 'CMNT')"></i></li>
                                    {% else %}
                                        <li><i class="fa fa-heart-o like-for-comment" aria-hidden="true" onclick="likes('{{ user_id }}','{{ comment.comment_id }}', this, 'CMNT')"></i></li>
                                    {% endif %}
                                </ul>
                            </div>

                            {% for reply in comment.replies %}
                                <div class="reply-portion">
                                    <a href="{% url 'profile' reply.replier_id %}"><img src="{{ reply.replier_photo }}" alt="identity" class="profile-photo-in-topbar"></a>
                                    <h3><a href="{% url 'profile' reply.replier_id %}">{{ reply.replier_username }}</a></h3>

                                    <span class="reply-text">
                                        {{ reply.reply_text }}
                                        <br />
                                        <div>
                                            <p class="age-text inside-comment-reply">{{ reply.reply_age }}</p>
                                            <button class="age-text inside-comment-reply" onclick="like_list('{{ user_id }}','{{ reply.reply_id }}', this, 'RPL')" >
                                                {{ reply.like_count }} likes
                                            </button>
                                            <a href="#" class="age-text inside-comment-reply reply-button" onclick="commentButtonClick(document.getElementsByClassName('add-comment-in-post')[0], '{{ reply.replier_username }}' , {{ comment.comment_id }})">Reply</a>

                                        </div>
                                    </span>

                                    {% csrf_token %}
                                    <ul class="icons clearfix">
                                        {% if reply.is_like %}
                                            <li><i class="fa fa-heart like-for-reply" aria-hidden="true" onclick="likes('{{ user_id }}','{{ reply.reply_id }}', this, 'RPL')"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-heart-o like-for-reply" aria-hidden="true" onclick="likes('{{ user_id }}','{{ reply.reply_id }}', this, 'RPL')"></i></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                        <hr class="comment-separator" />
                    {% endfor %}

                </div>
            </div>

            <hr class="mid" />

            <div class="footer-of-post-right">
                {% csrf_token %}
                <ul class="icons clearfix">
                    {% if isLike %}
                        <li><i class="fa fa-heart like-for-post" aria-hidden="true" onclick="likes('{{user_id}}', '{{post_id}}', this)"></i></li>
                    {% else %}
                        <li><i class="fa fa-heart-o like-for-post" aria-hidden="true" onclick="likes('{{user_id}}', '{{post_id}}', this)"></i></li>
                    {% endif %}
                    <li><i class="fa fa-comment-o" aria-hidden="true" onclick="commentButtonClick(document.getElementsByClassName('add-comment-in-post')[0], '')"></i></li>
                    <li><i class="fa fa-paper-plane-o" aria-hidden="true"></i></li>
                    {% if isSave %}
                        <li><i class="fa fa-bookmark" aria-hidden="true" onClick="saved('{{user_id}}', '{{post_id}}', this)"></i></li>
                    {% else %}
                        <li><i class="fa fa-bookmark-o" aria-hidden="true" onClick="saved('{{user_id}}', '{{post_id}}', this)"></i></li>
                    {% endif %}
                </ul>
            </div>

            <div class="text text-in-post-view">
                <button class="like_list_show_button" id="like_list_show_button" onclick="like_list('{{ user_id }}','{{ post_id }}', this)" ><h4>
                    <b style="font-size: 20px" >{{ total_likes }}</b> likes</h4>
                </button>
                <p class="age-text">{{ age }}</p>
            </div>

            <hr class="bottom" />

            <div class="add-comment-in-post clearfix">
                {% csrf_token %}
                <input type="text" placeholder="Add your comment" onkeyup="change_color_of_post_button(this)">
                <button type="submit" onclick="addComment(this, '{{ user_id }}', '{{ post_id }}')" disabled>Post</button>
            </div>
        </div>
        <hr />
        <!-- Post section done -->

    </div>

    <!-- like list -->

    <div class="like_list_container" id="like_list_container" onclick="close_list()">
        <div class="like_list_inner_container" id="like_list_inner_container" onclick="inner_container_stop_propagation()">
            <div class="like_list_top_bar" id="like_list_top_bar">
                <h2>Likes</h2>
                <img onclick="close_list()" src="{% static 'resources/img/close.jpg'%}" >
            </div>
            <hr />
            <div class="like_list_content" id="like_list_content">
                <ul class="list_of_liked_users" id="list_of_liked_users">
                </ul>
            </div>
        </div>
    </div>
    <!--
    <div id="myModal" class="modal">
        <span class="close" onclick="closeThemodal(this)">&times;</span>
        <img class="modal-content" id="img01">
    </div>
    -->
{% endblock %}
