{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html'%}


<div class="chat-body clearfix">
    <div class="chat-user-list-body">
        <div class="chat-user-list-body-search">
            <input type="search" placeholder="Search" name="search-chat-user" class="search-chat-user" onkeyup="searchUserChat()">
        </div>
        <div class="chat-search-user-list">
            
        </div>
        <div class="chat-user-list">
            {% for user in last_chat_user%}
            <a href="{% url 'chat-to-partner' user.partner_id %}">
                <div class="chat-user-list-element clearfix">
                    <div class="chat-user-list-element-photo"><img src="{{user.partner_profile_pic}}"></div>
                    <div class="chat-user-list-element-name">{{user.partner_name}}</div>
                    
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="chat-user-msg-and-box">
        <div class="chat-user-name-and-photo">
            <div class="chat-user-info clearfix">
                <div class="chat-user-photo"><img src="{{ partner_photo}}"></div>
                <div class="chat-user-name"><a href="{% url 'profile' user_id%}">{{ partner_name }}</a></div>
            </div>
        </div>
        <div class="chat-user-message-body">
            <div class="chat-user-message">
                {% for message in messages%}
                    {% if message.user_from_id == user_id%}
                        <div class="chat-user-single-message clearfix">
                            <div class="chat-msg-right clearfix">
                                <div><text>{{message.msg}}</text></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="chat-user-single-message clearfix">
                            <div class="chat-msg-left clearfix">
                                <div><text>{{message.msg}}</text></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="chat-user-text-box clearfix">
            <div class="chat-user-text-box-input"><input type="text" class="send-msg-to-partner"></div>
            <div class="chat-user-text-box-button"><button onclick="sendMsg('{{ partner_id }}')">Send</button></div>
            
        </div>
    </div>
</div>

{% endblock %}