

  
  .profile-username{
    padding: 10px;
  }
  .profile-count{
    padding: 10px;
  }
  .profile-count ul{
    list-style: none;
  }
  
  .profile-count ul li{
    display: inline-block;
    margin-right: 10px;
  }
  
  .profile-name{
    padding: 10px;
  }

  
  .profile-nav ul{
    list-style: none;
    width: 600px;
    margin: 5px auto;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }
  
  .profile-nav ul li{
    display: inline-block;
    margin-right: 20px;
  }
  
.user-post{
  width: 40%;
  margin: 30px auto;
}

.user-following{
  width: 40%;
  margin: 30px auto;
}

.following{
  padding: 5px;
}
.user-follower{
  width: 40%;
  margin: 30px auto;
}


/*#################################################*/
/*REPLACE THESE FOLLOWING CLASSES*/

.user-profile{
    margin: 75px auto 5px auto;
    width: 50%;
    min-width: 700px;
    border: 1px solid red;
}

.profile-nav{
    margin-top: 10px;
}

.profile-info{
    padding: 10px;
}

.profile-photo-box img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.profile-photo-box{
    width: 100%;
}

.profile-photo{
    float: left;
    margin-left: 15%;
    margin-top: 30px;
}

.profile-about{
    float: left;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

@media (max-width: 1000px){
    .user-profile{
        margin-left: 150px;
    }

}