{% load static %}

<div class="user-profile">
    <div class="profile-info clearfix">
      <div class="profile-photo">
        <div class="profile-photo-box">
          <img src="{{ base.profile_pic }}" alt="">
        </div>
      </div>
      <div class="profile-about">
          <div class="profile-username">
            <a href="http://127.0.0.1:8000/user/{{base.observee_id}}">{{ base.username }}</a>

              {%if base.observee_id != user_id %}
                <div class="follow-button2">
                  <form action="{% url 'profile' base.observee_id%}" method="POST">
                    {% csrf_token %}
                    {% if base.msg == "Follow"%}
                      <input type="submit" name="submit" value="Follow">
                    {% else %}
                      <input type="submit" name="submit" value="Unfollow">
                    {% endif %}
                  </form>
                </div>
              {% endif %}


          </div>
          <div class="profile-name">
            {{base.name}}
          </div>
          <div class="profile-count">
            <ul>
              <li><a href="http://127.0.0.1:8000/user/{{base.observee_id}}">{{base.post_count}} Posts</a></li><br />

                {% if user_id == base.observee_id %}
                    <li><a href="http://127.0.0.1:8000/user/{{ base.observee_id }}/follower">{{base.follower}} Follower</a></li><br />
                    <li><a href="http://127.0.0.1:8000/user/{{base.observee_id}}/following">{{base.following}} Following</a></li>
                {% else %}
                    <li><a href="#" >{{base.follower}} Follower</a></li><br />
                    <li><a href="#" >{{base.following}} Following</a></li>
                {% endif %}
            </ul>
          </div>
          <div class="profile-another-link2">
              <a href="{{ base.facebook_link }}"><i class="fa fa-facebook"></i></a>
              <a href="{{ base.twitter_link }}"><i class="fa fa-twitter"></i></a>
          </div>
      </div>
    </div>
</div>


<div class="profile-story-body clearfix">
  {% for story in base.stories_info%}
    <div class="profile-story-element">
      <img src="{{story.story_path}}" onclick="modalIndexImage({{story| safe}})">
    </div>
  {% endfor %}
</div>

<div id="myModal" class="modal"></div>