{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}
{% include 'user/base_user.html' %}


    {% if user_id == base.observee_id %}

        <div class="profile-nav">
          <ul>
            <li><a href="{% url 'profile' base.observee_id%}">Posts</a></li>
            {% if base.observee_id == user_id %}
              <li><a href="{% url 'following' base.observee_id%}">Following</a></li>
              <li><a href="{% url 'follower' base.observee_id%}"  class="activated-link">Follower</a></li>
              <li><a href="{% url 'archive' base.observee_id%}">Archive</a></li>
              <li><a href="{% url 'edit-profile' %}">Edit profile</a></li>
            {% endif %}

          </ul>
        </div>

    {% endif %}

<div class="search-users-body">
    {% for follower in user_follower %}
        <div class="search_users">
                <div class="searchee_info clearfix">
                    <div class="searchee_photo">
                        <a href="{% url 'profile' follower.id %}"><img src="{{ follower.profile_photo }}" alt="identity"></a>
                    </div>
                    <div class="searchee_name">
                        <a href="{% url 'profile' follower.id %}">{{ follower.name }}</a>

                        <hr />
                        <span>
                            <p>{{ follower.username }}</p>
                            <a href="http://127.0.0.1:8000/user/{{ follower.id }}/follower">Follower {{ follower.follower_count }}</a>
                            <a href="http://127.0.0.1:8000/user/{{ follower.id }}/followee">Following {{ follower.followee_count }}</a>

                            <br />
                            <div class="profile-another-link">
                                  <a href="{{ follower.fb_link }}"><i class="fa fa-facebook"></i></a>
                                  <a href="{{ follower.tw_link }}"><i class="fa fa-twitter"></i></a>
                            </div>
                        </span>
                    </div>
                    <div class="searchee_follow">
                        {%csrf_token%}
                        {% if user_id != follower.id %}
                            {% if follower.isFollowee %}
                                <button onClick="follow_button(this, '{{ user_id}}', '{{ follower.id }}', 2,1)">Unfollow</button>
                            {% elif follower.isFollower %}
                                <button onClick="follow_button(this, '{{ user_id}}', '{{ follower.id }}', 2,1)">Follow back</button>
                            {% else %}
                                <button onClick="follow_button(this, '{{ user_id}}', '{{ follower.id }}', 2,1)">Follow</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
        </div>
    {% endfor %}
</div>

{% endblock %}