{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}
{% include 'user/base_user.html' %}

    {% if user_id == base.observee_id %}

        <div class="profile-nav">
          <ul>
            <li><a href="{% url 'profile' base.observee_id%}" class="activated-link">Posts</a></li>
            {% if base.observee_id == user_id %}
              <li><a href="{% url 'following' base.observee_id%}">Following</a></li>
              <li><a href="{% url 'follower' base.observee_id%}">Follower</a></li>
              <li><a href="{% url 'archive' base.observee_id%}">Archive</a></li>
              <li><a href="{% url 'edit-profile' %}">Edit profile</a></li>
            {% endif %}

          </ul>
        </div>

    {% endif %}

    <div class="profile-view">

        {% for post in user_posts %}
            <div class="image-container" onclick="location.href='http://127.0.0.1:8000/post/{{ post.post_id }}'">
                <div class="image-hover" onmouseleave="showHoverArea(this.parentElement,0)">
                    <p>
                    {{ post.comment_count }} <i class="fa fa-comment kala-comment" area-hidden="true"></i>
                       {{ post.total_likes }} <i class="fa fa-heart kala-heart" area-hidden="true"></i> </p>
                </div>

                {% if post.photo|length != 0 %}
                    <i class="fa fa-picture-o indicator-icon" area-hidden="true"></i>
                    <img src="{{ post.photo }}" class="post-image" onmouseover="showHoverArea(this.parentElement,1)"  />
                {% else %}
                    <i class="fa fa-video-camera indicator-icon" area-hidden="true"></i>
                    <video src="{{ post.video }}" class="post-video" onmouseover="showHoverArea(this.parentElement,1)" onmouseleave="showHoverArea(this.parentElement,0)"></video>
                {% endif %}
            </div>

        {% endfor %}


        {% for post in shared_posts %}
            <div class="image-container" onclick="location.href='http://127.0.0.1:8000/share/{{ post.shared_id }}'">
                <div class="image-hover" onmouseleave="showHoverArea(this.parentElement,0)">
                    <p>
                    {{ post.comment_count }} <i class="fa fa-comment kala-comment" area-hidden="true"></i>
                       {{ post.total_likes }} <i class="fa fa-heart kala-heart" area-hidden="true"></i> </p>
                </div>

                {% if post.photo|length != 0 %}
                    <i class="fa fa-picture-o indicator-icon" area-hidden="true"></i>
                    <img src="{{ post.photo }}" class="post-image" onmouseover="showHoverArea(this.parentElement,1)"  />
                {% else %}
                    <i class="fa fa-video-camera indicator-icon" area-hidden="true"></i>
                    <video src="{{ post.video }}" class="post-video" onmouseover="showHoverArea(this.parentElement,1)" onmouseleave="showHoverArea(this.parentElement,0)"></video>
                {% endif %}
            </div>

        {% endfor %}


    </div>
{% endblock %}